PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:XXXX/domain?authSource=admin&readPreference=primary&appname=MongoDB%20Compass&ssl=false
JWT_SECRET=replace-with-strong-random-secret
JWT_EXPIRES_IN=1m
JWT_REFRESH_SECRET=replace-with-strong-random-secret
JWT_REFRESH_EXPIRES_IN=2d
