PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/educrm
JWT_SECRET=replace-with-strong-random-secret
JWT_EXPIRES_IN=1m
JWT_REFRESH_SECRET=replace-with-strong-random-secret
JWT_REFRESH_EXPIRES_IN=2d
